main {
  text-align: center;
  padding-inline: 3rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
  margin-top: 3rem;
}

p {
  font-family: "Outfit", "sans-serif";
  font-size: 1.5rem;
  color: rgb(228, 228, 228);
  margin: 0;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

#star-error {
  color: rgb(175, 0, 0);
  display: none;
  font-size: small;
  margin-top: 0;
}

#comment-error {
  color: rgb(175, 0, 0);
  display: none;
  font-size: small;
}

#error {
  color: rgb(175, 0, 0);
  font-size: smaller;
  display: none;
}

.valutation {
  margin-top: 0.5rem;
  margin-bottom: 3.8rem;
}

.star-value {
  margin-right: 0.4rem;
  cursor: pointer;
  fill: #0c0f29;
  transition: fill 0.2s;
}

.star-value.filled {
  fill: #00ffff;
}

.star-value:hover {
  cursor: pointer;
}

.textarea {
  border-bottom: 2px solid;
  border-bottom-color: #d20094;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

#comment {
  width: 90%;
  background-color: transparent;
  color: gray;
  border-color: transparent;
  border-bottom-color: transparent;
  font-family: "Inter", sans-serif;
}

button {
  margin-top: 2rem;
  font-weight: 800;
  width: 20%;
  background-color: #00ffff;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: none;
  box-shadow: 0 0 15px #00ffff;
}

button:hover {
  cursor: pointer;
}
