#time{
    display: inline-block;
    max-width: 7rem;
}

.container{
    width: 100%;
    height: 100%;;
}

.container svg{
    width: 100%;
    height: 100%;
}

.container svg circle{
    width:100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8%;
    stroke:#00FFFF;
}

.container svg circle:nth-child(2){
    stroke: transparent ;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    0%{
        top: 0%;
    }
    100%{
        top: -5000px;
    }
}

@keyframes stroke {
    100%{
        stroke-dashoffset: 0;
    }
    
}
#time .container div{
    text-align: center;
    transform: translateY(-163%);
}

P{
    font-size: 0.6rem;
}

#sec{
    font-size: 2rem;
    font-weight: 700;
}