#time{
    display: inline-block;
    max-width: 7rem;
}

.container{
    width: 100%;
    height: 100%;;
    
}

.container svg{
    width: 100%;
    height: 100%;
}

.circle1, .circle2{
    width:100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8%;
    border:none;
    
}
.circle1{
    stroke:rgb(0, 255, 255);
}

.circle2{
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    border:none;
    fill: transparent;
    animation: rotate 184s;
    stroke:#9a7e9a
}

@keyframes rotate {
    from{
        stroke-dashoffset: 440;
        stroke:#9a7e9a}
    to{
        stroke:#9a7e9a
        stroke-dashoffset: 0;
        
    }
}

#time .container div{
    text-align: center;
    transform: translateY(-163%);
}

P{
    font-size: 0.6rem;
    color: black;
}

#sec{
    font-size: 2rem;
    font-weight: 700;
}