@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 78%;
}

h1 span {
  font-weight: bold;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #d20094;
  font-size: 2rem;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
}

ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul li {
  padding-bottom: 0.5rem;
}
span {
  font-weight: 700;
}

div{
  max-height: 20px;
}


label{
  display: inline-block;
}

button {
  font-weight: 800;
  width: 15%;
  background-color: #00ffff;
  margin-left: 40%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: none;
  box-shadow: 0 0 15px #00ffff;
}

#message{
  display: inline-block;
}

#checkbox {
  margin-top: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid white;
}

#checkbox:checked {
  background-color: white; 
}